{% extends "header.html" %}
{% block content %}



<div class="mdl-grid">
    
    <div class="mdl-cell--3-col" style="padding-left: 40px; padding-right: 30px;">
        
        <h4>PlaylistsApp</h4>
        <h6>Created by June Philip</h6>
      

       

    </div>
    <div class="mdl-cell--4-col">

        <h6>A simple application that allows users </h6>
        <h6>to make playlists with any songs, </h6>
        <h6>share them publically, receive likes,</h7>
        <h6>and search for playlists, and like them.</h7>
    </div>

    
    <div class="mdl-cell--4-col">
        <h6>Created with 💖 using Flask</h6>
        <h6>and the Spotify API</h6>
        <h6>Hosted on Railway.app</h6>

    </div>


</div>

{% endblock %}