{% extends "header.html" %}
{% block content %}

<script>

</script>


{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="mdl-grid">

    <div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__supporting-text">
            {% for message in messages %}

            {{ message }}

            {% endfor %}

        </div>

    </div>



</div>
{% endif %}
{% endwith %}


<div class="mdl-grid">
    
    <div class="mdl-cell--3-col" style="padding-left: 40px;">
        
        <h4>Hey, {{ user.username }}!</h4>
        <h6>Account Stats:</h6>
        <h6>Playlists Created: {{ playlists|length }}</h6>
        <h6>Playlists Liked: {{ user.liked_playlists|length }}</h6>
        <h6>Total Duration of All Playlists: {{'{0:.2f}'.format(total_duration / 1000 /60) }}</h6>
        <h6>Total Number of Likes: {{ total_likes }}</h6>


        
       

    </div>
    <div class="mdl-cell--5-col">
        <h4>Search For Playlists!</h4>
        <form action="/" class="" method="POST">
            {{ form.csrf_token }}
            <div class = "mdl-textfield mdl-js-textfield">
                {{ form.search_query(class="mdl-textfield__input", type="text", id="search_query", placeholder="Search For Playlists!", style="width:400;") }}
    
            </div>
            {% if form.search_query.errors %}
            <div class="alert alert-warning" role="alert">
                {% for error in form.search_query.errors %}
                <span style="color: red; font-size: 10;">{{ error }}</span>
                {% endfor %} 
            </div>  
            {% endif %}
            {{ form.submit(class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent") }}
            
    
    
           
        </form>
       

    </div>

    
    <div class="mdl-cell--3-col">
        
        <h4>Your Playlists!</h4>
        {% if playlists %}
        <table class="mdl-data-table mdl-js-data-table">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Name</th>
                <th class="mdl-data-table__cell--non-numeric">Duration</th>
                <th class="mdl-data-table__cell--non-numeric">Likes</th>
              </tr>
            </thead>
            <tbody>
                {% for pl in playlists %}
                <tr>
                   
                    <td class="mdl-data-table__cell--non-numeric" >{{ pl.name }}</td>
                    <td class="mdl-data-table__cell--non-numeric" >{{'{0:.2f}'.format(pl.duration / 1000 /60) }}</td> 
                    <td class="mdl-data-table__cell--non-numeric" >{{ pl.likes }}</td>
                    <td class="mdl-data-table__cell--non-numeric" >
                        <a href="{{ url_for('playlists.edit', uuid=pl.uuid) }}", title="Edit">
                            <span class="material-icons" style="color:black;">
                                edit
                                </span>
                        </a>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric" >
                        <a href="{{ url_for('playlists.delete', uuid=pl.uuid) }}", title="Delete">
                            <span class="material-icons" style="color:black;">
                                delete
                                </span>
                        </a>
                    </td>

                    
                   
                    
                  </tr>
                {% endfor %}
            </tbody>
          </table>
            {% else %}
            <h6>No playlists found!</h6>
            {% endif %}

    </div>


</div>

{% endblock %}