{% extends "header.html" %}
{% block content %}

<script>

</script>
<h2>Register</h2>
<div class="mdl-grid">
    <h6>If you have an account, then <a href="{{ url_for('user.login') }}">Login!</a></h4>
</div>
{% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="mdl-grid">

                <div class="mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__supporting-text"> 
                        {% for message in messages %}

            {{ message }}

            {% endfor %}
            
                    </div>
            
                </div>
                
            
            
            </div>
            {% endif %}
{% endwith %}

<div class="mdl-grid">

    <form action="" method="post">
        {{ form.csrf_token }}

        <div class="mdl-textfield mdl-js-textfield">

            {{ form.username(class="mdl-textfield__input", type="text", id="username", autocomplete="off") }}
            {{ form.username.label(class="mdl-textfield__label", for="username") }}
            {% if form.username.errors %}
            <div class="alert alert-warning" role="alert">
                {% for error in form.username.errors %}
                <span style="color: red; font-size: 10;">{{ error }}</span>
                {% endfor %} 
            </div>  
            {% endif %}

        </div>
        <div class="mdl-textfield mdl-js-textfield">

            {{ form.email(class="mdl-textfield__input", type="text", id="email", autocomplete="off") }}
            {{ form.email.label(class="mdl-textfield__label", for="email") }}
            {% if form.email.errors %}
            <div class="alert alert-warning" role="alert">
                {% for error in form.email.errors %}
                <span style="color: red; font-size: 10;">{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}

        </div>
        <div class="mdl-textfield mdl-js-textfield">

            {{ form.password(class="mdl-textfield__input", type="password", id="passsword", autocomplete="off") }}
            {{ form.password.label(class="mdl-textfield__label", for="password") }}
            {% if form.password.errors %}
            <div class="alert alert-warning" role="alert">
                {% for error in form.password.errors %}
                <span style="color: red; font-size: 10;">{{ error }}</span>
                {% endfor %} 
            </div>
            {% endif %}
        </div>
        <div class="mdl-textfield mdl-js-textfield">

            {{ form.confirm_password(class="mdl-textfield__input", type="password", id="confirm_password", autocomplete="off") }}
            {{ form.confirm_password.label(class="mdl-textfield__label", for="password") }}
            {% if form.confirm_password.errors %}
            <div class="alert alert-warning" role="alert">
                {% for error in form.confirm_password.errors %}
                <span style="color: red; font-size: 10;">{{ error }}</span>
                {% endfor %} 
            </div>  
            {% endif %}
        </div>



        {{ form.submit(class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent") }}
    </form>
</div>
{% endblock %}