{% extends "header.html" %}
{% block content %}

<script>

</script>


{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="mdl-grid">

    <div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__supporting-text">
            {% for message in messages %}

            {{ message }}

            {% endfor %}

        </div>

    </div>



</div>
{% endif %}
{% endwith %}


<div class="mdl-grid">

    <div class="mdl-cell--3-col" style="padding-left: 40px;">

        <h4>Playlist Details:</h4>
        <form action="/" class="" method="POST">
            {{ form.csrf_token }}
            <div class="mdl-textfield mdl-js-textfield">
                {{ form.search_query(class="mdl-textfield__input", type="text", id="search_query", placeholder="Search For Playlists!", style="width:250;") }}

            </div>
            {% if form.search_query.errors %}
            <div class="alert alert-warning" role="alert">
                {% for error in form.search_query.errors %}
                <span style="color: red; font-size: 10;">{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
            {{ form.submit(class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent")
            }}




        </form>


    </div>


    <div class="mdl-cell--5-col">

        <h4>{{ playlist.name }} | Duration {{ '{0:.2f}'.format( (total_duration) / 1000 / 60) }} </h4>
        <p>{{ playlist.description }}</p>
        <h6>Created by: {{ playlist.owner.username }}</h6>
        <h6>Number of songs: {{ songs|length }} | Likes {{ playlist.likes }}</h6>

        {% if liked %}

        <a href="{{ url_for('playlists.like', uuid=playlist.uuid) }}" , title="unlike">
            <span class="material-icons" style="color:red;">
                favorite
            </span>
        </a>
        {% else %}
        <a href="{{ url_for('playlists.like', uuid=playlist.uuid) }}" , title="like">
            <span class="material-icons" style="color:black;">
                favorite_border
            </span>
        </a>
        {% endif %}




        {% if songs %}
        <table class="mdl-data-table mdl-js-data-table" style="width: 800; padding-top: 50px;">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric"></th>
                    <th class="mdl-data-table__cell--non-numeric">Title</th>
                    <th class="mdl-data-table__cell--non-numeric">Artist</th>
                    <th class="mdl-data-table__cell--non-numeric">Duration</th>





                </tr>
            </thead>
            <tbody>
                {% for song in songs %}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">
                        <img src="{{ song.get_cover_image() }}" alt=""
                            style="width: 50; height: 50; object-fit: cover;">
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">{{ song.get_name() }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ song.get_artist() }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ '{0:.2f}'.format(song.get_duration() / 1000 /60) }}
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
        <h6>No songs in playlist</h6>
        {% endif %}


    </div>


    <div class="mdl-cell--3-col">



    </div>


</div>

{% endblock %}